.nav {
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
}

.nav-link {
    font-size: 90%;
    transition: 0.3s;
}

.nav-item {
    margin-right: 90px;
}

@media screen and (max-width: 700px) {
    .nav-item {margin-right: 0;}
}


.box1 {
    padding-top: 10em;
    padding-bottom: 60em;
    background-image: url("../images/parallax1.jpg");
    opacity: 0.75;
    height: 100%;
    width: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box1 img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}


.container {
    max-width: 100%;
}

.jumbotron {
    padding-top: 35px;
    padding-bottom: 35px;
    margin: 35px 15% 35px 15%;
}

.jumbotron  h1 {
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}

.jumbotron p {
    text-align: center;
}

.jumbotron hr {
    height:2px; 
    background-color:black; 
    width: 8%;
    margin-top: 30px;
    margin-bottom: 30px;
}
